.loading{
    padding: 30px 0 50px 20px;
    text-align: left;
}
.glyphicon {
	color: gray;
	font-size: 26px;
}
.crops{
    position: relative;
}

.fixed.left{
    position:absolute;
    z-index :100;
    top:100px;
    left:15px;
    cursor: pointer;
}
.fixed.right{
    position:absolute;
    z-index :100;
    top:100px;
    right:15px;
    cursor: pointer;
}
@media screen and (max-width: 480px){
    .carousel {
    padding: 0px 0px 0px 30px;
}    
}
@media screen and (max-width: 810px){
    .carousel {
    padding: 0px 0px 0px 40px;
}    
}
@media screen and (max-width: 1100px){
    .carousel {
    padding: 0px 0px 0px 80px;
}    
}
@media screen and (min-width: 1300px){
    .carousel {
    padding: 0px 0px 0px 30px;
}    
}

