<div class="roww">
<div class="header">
  <h4><i class="fa fa-bell-o"></i>  Dernières alertes reçues</h4>
</div>
<table class="table table-responsive " *ngIf="alerts">
  <tr>
    <th>Culture concernée</th>
    <th>Maladie prédite</th>
    <th>Date d'envoi de l'alerte</th>
    <th>Taux de risque évalué</th>
    <th>Action prise</th>
  </tr>
  <tr *ngFor="let alert of alerts">
    <td> <img [src]=getCropIcon(alert.disease)><span>{{alert.crop_production}}</span></td>
    <td><span>{{alert.disease}}</span></td>
    <td><span>{{getDate(alert.alert_date)}}</span></td>
    <td>
      <div class="progress progress-xs">
        <div class="progress-bar progress-bar-danger" [style.width.%]= "100*alert.risk_rate" role="progressbar" aria-valuemin="0" aria-valuemax="1" ></div>
      </div>
    </td> 
    <td>
		<div *ngIf="!alert.feedback_type" >
	      	<button style ="margin-right: 20px;" class= "btn-success btn" data-toggle="modal" data-target="#confirmModal" ><!-- (click)="confirm(alert)"  -->
            <span class=".btn-text"> Confirmer </span> <i class="glyphicon glyphicon-ok"></i>
          </button>
	    	  <button class= "btn-danger btn" data-toggle="modal" data-target="#confirmModal" ><!-- (click)="decline(alert)" --> 
            <span class=".btn-text"> Décliner </span><i class="glyphicon glyphicon-remove"></i>
          </button>
		</div>
		<div *ngIf="alert.feedback_date">
			<span *ngIf="alert.feedback_type === confirmed" style="color:#3dab7b;">
				Confirmée {{getDate(alert.feedback_date)}} par {{alert.client}}
			</span> 
			<span *ngIf="alert.feedback_type === denied" style="color:red;">
				Déclinée {{getDate(alert.feedback_date)}}  par {{alert.client}}
			</span>
		</div>

    </td>          
  </tr>
</table>

<button [disabled]="noNex" class="left btn btn-default" (click)="getNextAlerts()"> <i class="glyphicon glyphicon-chevron-right"></i></button>
<button [disabled]="noPrec" class="right btn btn-default" (click)="getPreviousAlerts()"><i class="glyphicon glyphicon-chevron-left"></i></button>

 </div>

          <div id="confirmModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-md" >
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Confirmer l'action effectuée</h4>
                </div>
                <div class="modal-body">
                  <div class="row col-sm-12">
                    <span>Êtes-vous sure de vouloir confirmer/décliner cette alerte?</span>
                  </div>
                  <div class="row col-sm-12">
                    <button class="pull-right btn btn-success" data-dismiss="modal" (click)="accept()">Oui</button>
                    <button class="pull-right btn btn-default" data-dismiss="modal">Annuler</button> 
                  </div>
                </div>
              </div>
            </div>
          </div>
