<menu></menu>

<div class="wrapper">
<div class="page-header"><h2>Signaler une anomalie dans ma ferme</h2></div>

    <div class="col-sm-12" [hidden]="!submitted"> 
      <div class="alert alert-success" role="alert" ><i class="fa fa-check"></i>Votre signalisation a été bien envoyée.</div>
    </div>
    
    <div class="report col-md-offset-3 col-md-6 col-sm-12">    
    <form  #addAnomalyForm="ngForm">
      <div class="form-group">
        <label>Séléctionner la date d'occurence de l'anomalie</label> 
        <input required type="datetime-local" class="form-control" name="occurence_date"
              [value]="date"
              (change)="occurence_date=$event.target.value" 
              [(ngModel)]="occurence_date">
      </div>

     <div class="form-group">
         <label>Sélectionner la culture concernée</label>
         <select required name="crops" class="form-control"  [(ngModel)]="crop_production" (ngModelChange)="loadDiseases($event)">
             <option *ngFor="let crop of crops" [value]="crop.crop_production_id" >
             {{crop.name}}
             </option>
         </select>
     </div>

     <div class="form-group">
         <label>Sélectionner la maladie que vous avez observée </label>
         <select required name="maladie" class="form-control"  [(ngModel)]="disease" >
             <option *ngFor="let disease of diseases" [value]="disease.disease_id" >
             {{disease.disease_name}}
             </option>
         </select>
     </div>
      <button type="submit" class="pull-right btn btn-primary" data-toggle="modal" data-target="#confirmModal" [disabled] = "!addAnomalyForm.form.valid" > Envoyer</button>
    </form>
  </div>
</div>


<div id="confirmModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmer l'envoi d'une anomalie dans ma ferme</h4>
      </div>
      <div class="modal-body">
        <div class="row col-sm-12">
          <span>Voulez-vous vraiment envoyer cette anomalie?</span>
        </div>
        <div class="row col-sm-12">
          <button class="pull-right btn btn-success" data-dismiss="modal" (click)="addAnomaly()">Oui</button>
          <button class="pull-right btn btn-default" data-dismiss="modal">Annuler</button> 
        </div>
      </div>
    </div>
  </div>
</div>
