<div class="page-header">
  <h1>Protéger mes cultures avec SafeCrop</h1>
</div>

<div class="wrapper">
  <form class="col-md-4 col-md-offset-4 card" (ngSubmit)="loginUser()" #loginForm="ngForm">

    <h3 class="text-center title">Se connecter</h3>
    <div class="form-group">
        <input type="text" required class="form-control input-lg" placeholder="Nom d'utilisateur" name="username" [(ngModel)]="username">
    </div>
    <div class="form-group">
        <input type="password" required class="form-control input-lg" placeholder="Mot de passe" name="password" [(ngModel)]="password">
    </div>

    <div *ngIf="error"> 
      <div class="alert alert-danger" role="alert" ><i class="fa fa-remove"></i> Nom d'utilisateur ou mot de passe incorrect.</div>
    </div>

    <div class="form-group sub">
        <button type="submit"  [disabled]="!loginForm.form.valid" class="btn btn-success btn-lg btn-block">Se connecter</button>
    </div>
  </form>
</div>
