.wrapper{
	padding-top: 83px;
	padding-bottom: 380px;
	align-content: center;
	text-align: center;
}
.card{
	padding: 0px 40px 20px 40px;
  	background: #fff;
  	border-radius: 3px;
 	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.page-header{
	color: #F1F1F2;
}
.sub{
	margin-top: 25px;
}
.title{
	padding-bottom: 10px;
	padding-top: 10px;
}
.fa{
	padding-right: 5px;
}
